.single-post {
  &-meta {
    flex: 1;
    margin: 5px 25px 0;
    .author { 
      font-family: 'proxima_nova_altbold';
      color: $dark-color;
      font-size: 15px;
      text-transform: uppercase;
    }

    .date {
      font-size: 13px;
      margin-top: 5px;
      color: #999;
    }
  }  
}