.single-post {

  &-text {
    flex: 2;

    *:not(h2) {
      @extend %text-comum;
    }
    .post-title { 
      margin-top: 0;
      text-transform: uppercase;
      line-height: 33px;
      font-family: 'proxima_nova_altbold';
      }
  }
  
}