.header {
  &-logo {
    flex: 1;

    svg {
      width: 150px;

      .path {
        stroke-dasharray: 500;
        stroke-dashoffset: 100;
        stroke-width: 10;
        animation: dash 4s linear 2s infinite normal;
        stroke: #f41766;
      }

      @keyframes dash {
        0% {
          stroke-dashoffset: 1000;    
        }
        100% {
          stroke-dashoffset: 0;
        }
      }
      
    }
  }
}