.slider {
  @extend %gradient;
  color: #fff;
  font-family: 'Quicksand', sans-serif;

  .container {
    @extend %flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
  }

  .btn { 
    padding: 11px 47px;
    box-shadow: 0 25px 40px rgba(0,0,0,0.2);
   }

  h2, h3 {
    color: #fff;
  }

  h2 {
    font-size: 50px;
    margin: 0;
  }
}