.author-box {
    text-align: center;

  .author-description {
    color: #999;
    font-size: 15px;
    line-height: 23px;
  }

  .author-links {
    display: flex;
    margin: 30px 0;

    .btn {
      position: relative;
      padding: 11px 30px;
      background-color: #faf9ff;
      i { padding-right: 15px }
      &:first-child { margin-right: 10px }
      @include hover-gradient(20px);
    }
    
  }
}