.sidebar {
    flex: 1;
    margin-left: 35px;
    flex-direction: column;

    .box-default {
       @extend %shadow;
       padding: 30px;
       margin-bottom: 50px;
    }

    .title-sidebar {
        text-transform: uppercase;
        letter-spacing: 3px;
    }
}