.btn {
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 21px;
  font-weight: 700;
  color: $dark-color;
  transition: all 0.2s ease-in-out;

  &-ghost {
    background: #fff;
    &:hover { 
      transform: scale(1.07, 1.07);
      box-shadow: 0 35px 60px rgba(0,0,0,0.2) !important;
    }
  }
}

.btn-gradient {      
  position: relative;
  padding: 11px 20px;
  background-color: $gray-color;
  i { padding-right: 15px }
  @extend %gradient;
  color: #fff;

  &:hover {
    box-shadow: 0 35px 60px rgba(0,0,0,0.2);
    &::before {
      transform: scaleX(1);
    }
  }
}