.list-posts {
  flex: 1;

  .single-post {
    color: #999;

    p {
      font-size: 15px;
      line-height: 23px;
    }

    &-link {
      text-transform: uppercase;
      color: $dark-color;
      font-family: 'proxima_nova_ltsemibold';
      border-radius: 20px;
      box-shadow: 0px 1px 2px 1px #f7f7f7;
      padding: 5px 30px;  
      transition: all 0.35s ease-out;
      position: relative;

      @include hover-gradient(20px);
    }

    &-content {    
      @extend %flex;
      padding: 40px;
      margin-bottom: 30px;
      @extend %shadow;
    }

    &-text {
      flex: 2;
      h2 { 
        margin-top: 0;
        text-transform: uppercase;
        line-height: 33px;
        font-family: 'proxima_nova_altbold';
       }
    }

    &-meta {
      flex: 1;
      margin: 5px 25px 0;
      .author { 
        font-family: 'Quicksand';
        color: $dark-color;
        font-weight: bold;
        font-size: 15px
      }

      .date {
        font-size: 13px;
        margin-top: 5px;
      }
    }

    .category {
      ul {
        @extend %flex;
        list-style: none;
        padding: 0;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      a {
        display: block;
        padding: 5px 10px;
        font-size: 12px;
        background-color: #faf9ff;
        border: 1px solid #eeeeee;
        font-family: 'proxima_nova_ltsemibold';
        color: $dark-color;
        position: relative;
        transition: color 0.35s ease-out;
        margin-bottom: 7px;
        
        @include hover-gradient();        
      }
    }

    .share {
      ul {
        @extend %flex;
        list-style: none;
        padding-left: 0;

        li { padding-right: 25px }

        a { 
          color: #ddd;
          transition: color 0.3s ease-in-out;
          &:hover { color: $dark-color }
        }
      }
    }

  }  
}