body {
  font-family: 'Proxima Nova';
}

p {
  @extend %montserrat;
}

h1, h2, h3, h4, h5, h6 { color: $dark-color; }

.container {
  width: 1100px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
}