body {
  font-family: 'Proxima Nova';
}

p {
  @extend %montserrat;
}

h1, h2, h3, h4, h5, h6 { color: $dark-color; }

h1 { font-size: 1.9em }

h2 { font-size: 1.7em }

h3 { font-size: 1.5em }

h4 { font-size: 1.3em }

h5 { font-size: 1.1em }

h6 { font-size: 0.9em }

.container {
  width: 1100px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
}